<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578385509761-qa7aarklum37ktcuqtdqknf4fk1miihu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578385509761-qa7aarklum37ktcuqtdqknf4fk1miihu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0f_kYPuXUv11N9AhtulnEyOUC4jLkvsA</string>
	<key>GCM_SENDER_ID</key>
	<string>578385509761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurfidan.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-6f9ca</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-6f9ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578385509761:ios:b1fee3ce7f01c2fe5dbc80</string>
</dict>
</plist>